parameters:
    bootstrapFiles:
        - vendor/autoload.php
    excludePaths:
        analyse:
            - tests/Fakes/SpotifyWebAPI.php
            - tests/Helpers/TestDatabaseHelper.php
    ignoreErrors:
    level: 10
    paths:
        - src
        - public_html
        - bin
        - tests
        - templates
    parallel:
        maximumNumberOfProcesses: 1
includes:
  - vendor/phpstan/phpstan-strict-rules/rules.neon
