name: CI Pipeline

on:
    push:
        branches: [main]
    pull_request:
        branches: ["*"]

jobs:
    phpstan:
        runs-on: ubuntu-latest
        container:
            image: php:8.3-alpine
        steps:
            - uses: actions/checkout@v4

            - name: Install Composer 
              run: wget https://raw.githubusercontent.com/composer/getcomposer.org/f3108f64b4e1c1ce6eb462b159956461592b3e3e/web/installer -O - -q | php -- --quiet

            - name: Validate composer.json and composer.lock
              run: composer validate --strict

            - name: Cache Composer packages
              id: composer-cache
              uses: actions/cache@v3
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
            - name: Run PHPStan
              run: |
                  composer install
                  ./vendor/bin/phpstan analyse --memory-limit 4G -c phpstan.neon --autoload-file vendor/autoload.php --error-format=gitlab src bin >> phpstan-result.json
