name: PHP Lint

on:
    push:
        branches: [main]
    pull_request:
        branches: ["*"]

permissions:
    contents: read
jobs:
    phpstan:
        runs-on: ubuntu-latest
        container:
            image: php:8.4-alpine
        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP dependencies
              run: |
                  apk add php84-xdebug php84-mbstring php84-xml
                  echo "zend_extension=xdebug.so" >> /etc/php84/conf.d/xdebug.ini

            - name: Install Composer
              run:
                  curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin
                  --filename=composer

            - name: Validate composer.json and composer.lock
              run: composer validate --strict

            - name: Cache Composer packages
              id: composer-cache
              uses: actions/cache@v3
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}

            - name: Install dependencies
              run: composer install --prefer-dist --no-interaction

            - name: Run PHPStan
              run:
                  ./vendor/bin/phpstan analyse --memory-limit 4G -c phpstan.neon --autoload-file
                  vendor/autoload.php src bin

            - name: Run PHPUnit
              run:
                  ./vendor/bin/phpunit tests --testdox --colors=always --coverage-text --display-deprecations
                  --display-phpunit-deprecations --fail-on-deprecation --fail-on-phpunit-deprecation
