name: PHP Test

on:
    push:
        branches: [main]
    pull_request:
        branches: ["*"]

permissions:
    contents: read
jobs:
    phpunit:
        runs-on: ubuntu-latest
        container:
            image: php:8.5-alpine
        steps:
            - uses: actions/checkout@v4

            - name: Setup PHP dependencies
              run: |
                  curl -sSL https://github.com/php/pie/releases/latest/download/pie.phar >> pie.phar
                  apk add --update linux-headers
                  apk add --no-cache --virtual .build-deps $PHPIZE_DEPS \
                  # && pecl install xdebug \
                  php pie.phar install xdebug/xdebug \
                  && docker-php-ext-enable xdebug \
                  && apk del .build-deps \
                  && echo "xdebug.mode=debug,coverage" >> /usr/local/etc/php/conf.d/99-xdebug.ini

            - name: Install Composer
              run:
                  curl -sS https://getcomposer.org/installer | php -- --install-dir=/usr/local/bin
                  --filename=composer

            - name: Cache Composer packages
              id: composer-cache
              uses: actions/cache@v3
              with:
                  path: vendor
                  key: ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-php-${{ hashFiles('**/composer.lock') }}

            - name: Install dependencies
              run: composer install --prefer-dist --no-interaction

            - name: Run PHPUnit
              run:
                  ./vendor/bin/phpunit tests --testdox --colors=always --coverage-text --display-deprecations
                  --display-phpunit-deprecations --fail-on-deprecation --fail-on-phpunit-deprecation
                  --coverage-clover coverage.xml

            - name: Check minimal code coverage
              run: |
                  COVERAGE=$(grep -o 'line-rate="[^"]*' coverage.xml | sed 's/line-rate="//')
                  PERCENT=$(awk "BEGIN {print $COVERAGE * 100}")
                          
                  echo "Code coverage: $PERCENT%"
                          
                  REQUIRED=80
                  if (( $(echo "$PERCENT < $REQUIRED" | bc -l) )); then
                      echo "❌ Code coverage too low (required: $REQUIRED%)"
                      exit 1
                  fi
                          
                  echo "✅ Code coverage OK"
              shell: bash
